<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
<style>
	.logo span {
		padding: 0;
		margin: 0;
		font-size: 1em;
		letter-spacing: auto;
	}
	.logo font-1 {
		font-weight: bold;
	}
</style>
	<a href="{{ site.url }}{{ site.baseurl }}" class="logo">
		<!-- <strong>{{ site.title-bold }}</strong> <span>{{ site.title-normal }}</span> -->
		<span class="font-2">>_</span>
		<span class='font-1' style="font-family: sans-serif; text-transform: lowercase;">int</span>
		<span class='font-2' style="font-family: courier">Eng</span>
	</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" %}
		        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="https://form.jotformeu.com/62712744347357" class="apply-button button special fit">Apply as candidate</a></li>
		<li><a href="#contact" class="button fit">Hire top developers</a></li>
	</ul>
</nav>
